<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空：namespace的名称必须指向刚刚接口类 -->
<mapper namespace="com.jc.mapper.PurchaseBillMapper">
    <!-- property：主键在pojo中的属性名 -->
    <!-- column：主键在数据库中的列名 -->
    <resultMap id="PurchaseBillResultMap" type="com.jc.model.PurchaseBill">
        <id column="id" property="id"></id>
        <result column="creator" property="creator"></result>
        <result column="create_date" property="createDate"></result>
        <result column="modifier" property="modifier"></result>
        <result column="modify_date" property="modifyDate"></result>
        <result column="state" property="state"></result>
        <result column="purchaseName" property="purchaseName"></result>
        <result column="put_in_date" property="putInDate"></result>
        <result column="emergent" property="emergent"></result>
        <result column="is_bill" property="isBill"></result>
        <result column="sum_money" property="sumMoney"></result>
        <result column="expect_date" property="expectDate"></result>
        <association property="sysUsers" javaType="com.jc.model.SysUsers">
            <id column="sid" property="id"></id>
            <result column="name" property="name"></result>
        </association>
        <association property="sysResource" javaType="com.jc.model.SysResource">
            <id column="id" property="id"></id>
            <result column="display_name" property="displayName"></result>
        </association>

    </resultMap>
<!--    待采办-->
    <select id="listPurchaseBill" resultMap="PurchaseBillResultMap">
        SELECT
        bill.id,bill.creator,users.name purchaseName,bill.create_date,
        bill.modify_date,bill.modifier,bill.put_in_date,re.display_name emergent,
        res.display_name is_bill,bill.sum_money,bill.expect_date,
        resource.display_name state
        FROM
        t_purchase_bill AS bill
        LEFT JOIN
        t_sys_users AS users
        ON
        bill.purchase_id=users.id
        LEFT JOIN
        t_sys_resource as resource
        ON
        bill.state=resource.id
        LEFT JOIN
        t_sys_resource as re
        ON
        bill.emergent=re.id
        LEFT JOIN
        t_sys_resource as res
        ON
        bill.is_bill=res.id
        where
        bill.is_bill=6
        <if test="creator!=null and creator!=''">
            and bill.creator=#{creator}
        </if>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>
    <!--    获取采办菜单大小-->
    <select id="countGet" resultType="Integer" parameterType="map">
        SELECT COUNT(0) FROM t_purchase_bill WHERE t_purchase_bill.is_bill=6
    </select>
<!--    待审核-->
    <select id="listPurchaseCheck" resultMap="PurchaseBillResultMap">
        SELECT
        bill.id,bill.creator,users.name purchaseName,bill.create_date,
        bill.modify_date,bill.modifier,bill.put_in_date,re.display_name emergent,
        res.display_name is_bill,bill.sum_money,bill.expect_date,
        resource.display_name state
        FROM
        t_purchase_bill AS bill
        LEFT JOIN
        t_sys_users AS users
        ON
        bill.purchase_id=users.id
        LEFT JOIN
        t_sys_resource as resource
        ON
        bill.state=resource.id
        LEFT JOIN
        t_sys_resource as re
        ON
        bill.emergent=re.id
        LEFT JOIN
        t_sys_resource as res
        ON
        bill.is_bill=res.id
        WHERE
        bill.state=5
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <resultMap id="DetailResultMap" type="com.jc.model.PurchaseBillDetail">
        <id column="id" property="id"></id>
        <result column="productId" property="productId"></result>
        <result column="number" property="number"></result>
        <result column="price" property="price"></result>
        <result column="sum_money" property="sumMoney"></result>
        <result column="supplierId" property="supplierId"></result>
        <association property="purchaseSupplier" javaType="com.jc.model.PurchaseSupplier">
            <id column="pid" property="id"></id>
            <result column="name" property="name"></result>
        </association>
        <association property="sysPurchaseProduct" javaType="com.jc.model.SysPurchaseProduct">
            <id column="sid" property="id"></id>
            <result column="name" property="name"></result>
        </association>
    </resultMap>
<!--    查询采办商品详情-->
    <select id="listPurchaseBillDetail" resultMap="DetailResultMap">
        SELECT
        detail.id,product.name productId,detail.number,
        detail.price,detail.sum_money,supplier.name supplierId
        FROM
        t_purchase_bill_detail AS detail
        LEFT JOIN
        t_sys_purchase_product AS product
        ON
        detail.product_id=product.id
        LEFT JOIN
        t_purchase_supplier AS supplier
        ON
        detail.supplier_id=supplier.id
    </select>

<!--    查询商品表商品-->
    <select id="listSysPurchaseProduct" parameterType="com.jc.model.SysPurchaseProduct" resultType="com.jc.model.SysPurchaseProduct">
        SELECT
        product.id,product.name
        FROM
        t_sys_purchase_product as product
    </select>
<!--    添加采办事项信息-->
    <insert id="insertPurchaseBill" parameterType="com.jc.model.PurchaseBill">
        INSERT INTO t_purchase_bill (creator,create_date,modifier,modify_date,state,purchase_id,put_in_date,emergent,is_bill,sum_money,expect_date)
        VALUES (#{creator},#{createDate},#{modifier},#{modifyDate},#{state},#{purchaseId},#{putInDate},#{emergent},#{isBill},#{sumMoney},#{expectDate})

        <selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
<!--    添加采办商品-->
    <insert id="insertPurchaseBillDetail" parameterType="com.jc.model.PurchaseBillDetail">
        INSERT INTO t_purchase_bill_detail (product_id,bill_id)
        VALUE (#{value},#{billId})
    </insert>


    <resultMap id="BillResultMap" type="com.jc.model.PurchaseBill">
        <id column="id" property="id"></id>
        <result column="creator" property="creator"></result>
        <result column="create_date" property="createDate"></result>
        <result column="modify_date" property="modifyDate"></result>
        <result column="put_in_date" property="putInDate"></result>
        <result column="emergent" property="emergent"></result>
        <result column="state" property="state"></result>
        <result column="is_bill" property="isBill"></result>
        <association property="sysResource" javaType="com.jc.model.SysResource">
            <id column="sid" property="id"></id>
            <result column="display_name" property="displayName"></result>
        </association>
        <collection property="purchaseBillDetailList" ofType="com.jc.model.PurchaseBillDetail">
            <id column="did" property="id"></id>
            <result column="product_id" property="productId"></result>
            <result column="bill_id" property="billId"></result>
            <association property="sysPurchaseProduct" javaType="com.jc.model.SysPurchaseProduct">
                <id column="pid" property="id"></id>
                <result column="name" property="name"></result>
            </association>
        </collection>
    </resultMap>
    <select id="loadPurchaseBill" parameterType="Integer" resultMap="BillResultMap">
            SELECT
			bill.id,bill.creator,bill.create_date,bill.modify_date,bill.put_in_date,bill.emergent,bill.state,
			resource.id sid,resource.display_name,re.display_name,detail.id did,detail.product_id,detail.bill_id,
			product.id pid,product.name
			FROM
			t_purchase_bill AS bill
			LEFT JOIN
			t_sys_resource as resource
			ON
			bill.state=resource.id
			LEFT JOIN
			t_sys_resource as re
			ON
			bill.emergent=re.id
			LEFT JOIN
			t_sys_resource as res
			ON
			bill.is_bill=res.id
            LEFT JOIN
            t_purchase_bill_detail AS detail
            ON
            bill.id=detail.bill_id
            LEFT JOIN
            t_sys_purchase_product AS product
            ON
            product.id=detail.product_id
            WHERE
            bill.id=#{id}
    </select>

<!--    删除采办事项-->
    <delete id="deletePurchaseBill" parameterType="Integer">
        DELETE
        FROM
        t_purchase_bill
        WHERE
        t_purchase_bill.id=#{id}
    </delete>
    <delete id="deletePurchaseBillDetail" parameterType="Integer">
        DELETE
        FROM
        t_purchase_bill_detail
        WHERE
        t_purchase_bill_detail.bill_id=#{billId}
    </delete>
<!--    编辑采办事项-->
    <update id="updatePurchaseBill" parameterType="com.jc.model.PurchaseBill">
        UPDATE t_purchase_bill
        SET
        creator=#{creator},modifier=#{modifier},modify_date=#{modifyDate},
        put_in_date=#{putInDate},emergent=#{emergent}
        WHERE
        t_purchase_bill.id=#{id}
    </update>
    <update id="updatePurchaseBillDetail" parameterType="com.jc.model.PurchaseBillDetail">
        UPDATE t_purchase_bill_detail
        SET
        product_id=#{value}
        WHERE
        t_purchase_bill_detail.id=#{Id}
    </update>
<!--    查询采办详情-->
    <select id="listBillDeatil" parameterType="int" resultType="java.util.Map">
        SELECT
        detail.id,detail.product_id,detail.bill_id
        FROM
        t_purchase_bill_detail as detail
        WHERE
        detail.bill_id=#{billId}
    </select>

<!--    查询采购人员-->
    <select id="listSysUsersName" parameterType="com.jc.model.SysUsers" resultType="com.jc.model.SysUsers">
        select
        us.id,us.name
        from t_sys_users as us
    </select>
<!--    根据商品名查询供应商-->
    <select id="listPurchaseSupplieLike" resultType="com.jc.model.SupplierProduct" parameterType="Integer">
        SELECT
        supplier.name,supplier.id,pruchase.price
        FROM
        t_purchase_supplier AS supplier
        LEFT JOIN
        t_pruchase_supplier_product AS pruchase
        ON
        supplier.id=pruchase.purchase_supplier_id
        LEFT JOIN
        t_sys_purchase_product AS sys
        ON
        sys.id=pruchase.product_id
        where
        pruchase.product_id=#{0}
    </select>
<!--    查询全部采购单-->
    <resultMap id="PurchaseBillOrdersResultMap" type="com.jc.model.PurchaseBill">
    <id column="id" property="id"></id>
    <result column="creator" property="creator"></result>
    <result column="create_date" property="createDate"></result>
    <result column="modifier" property="modifier"></result>
    <result column="modify_date" property="modifyDate"></result>
    <result column="state" property="state"></result>
    <result column="purchase_id" property="purchaseId"></result>
    <result column="purchaseName" property="purchaseName"></result>
    <result column="put_in_date" property="putInDate"></result>
    <result column="emergent" property="emergent"></result>
    <result column="is_bill" property="isBill"></result>
    <result column="sum_money" property="sumMoney"></result>
    <result column="expect_date" property="expectDate"></result>
    <association property="sysUsers" javaType="com.jc.model.SysUsers">
        <id column="sid" property="id"></id>
        <result column="name" property="name"></result>
    </association>
    <association property="sysResource" javaType="com.jc.model.SysResource">
        <id column="id" property="id"></id>
        <result column="display_name" property="displayName"></result>
    </association>
    </resultMap>
    <select id="listPurchaseBillOrders" resultMap="PurchaseBillOrdersResultMap">
        SELECT
        bill.id,bill.creator,bill.create_date,bill.modifier,bill.modify_date,
        re.display_name state,bill.purchase_id,users.name purchaseName,bill.put_in_date,res.display_name emergent,
        resource.display_name is_bill,bill.sum_money,bill.expect_date
        FROM
        t_purchase_bill AS bill
        LEFT JOIN
        t_sys_resource AS re
        ON
        bill.state=re.id
        LEFT JOIN
        t_sys_users AS users
        ON
        bill.purchase_id=users.id
        LEFT JOIN
        t_sys_resource AS res
        ON
        bill.emergent=res.id
        LEFT JOIN
        t_sys_resource AS resource
        ON
        bill.is_bill=resource.id
        WHERE
        bill.is_bill=5
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--    获取待采购单菜单大小-->
    <select id="countGetAll" resultType="Integer" parameterType="map">
        SELECT COUNT(0) FROM t_purchase_bill WHERE t_purchase_bill.is_bill=5
    </select>

<!--    根据商品名称和商品类型查询供货商商品表-->
    <resultMap id="ProductMap" type="com.jc.model.SupplierProduct">
        <id column="id" property="id"></id>
        <result column="purchase_supplier_id" property="purchaseSupplierId"></result>
        <result column="supplierName" property="supplierName"></result>
        <result column="product_id" property="productId"></result>
        <result column="productName" property="productName"></result>
        <result column="price" property="price"></result>
        <result column="max_number" property="maxNumber"></result>
        <result column="kind" property="kind"></result>
        <association property="sysPurchaseProduct" javaType="com.jc.model.SysPurchaseProduct">
            <id column="sid" property="id"></id>
            <result column="name" property="name"></result>
            <result column="kind" property="kind"></result>
        </association>
    </resultMap>
    <select id="listSupplierProduct" resultMap="ProductMap">
        SELECT
        product.id,product.purchase_supplier_id,supplier.name supplierName,
        product.product_id,sysProduct.name productName,
        product.price,product.max_number,sysProduct.kind kind
        FROM
        t_pruchase_supplier_product AS product
        LEFT JOIN
        t_purchase_supplier AS supplier
        ON
        product.purchase_supplier_id=supplier.id
        LEFT JOIN
        t_sys_purchase_product AS sysProduct
        ON
        product.product_id=sysProduct.id
        <where>
            <if test="productName!=null and productName!=''">
                and sysProduct.name like concat('%',#{productName},'%')
            </if>
            <if test="kind!=null and kind!=''">
                and sysProduct.kind like concat('%',#{kind},'%')
            </if>
        </where>
    </select>
<!--    商品价格-->
    <select id="listSupplierPrice" parameterType="Integer" resultType="com.jc.model.SupplierProduct">
        SELECT
        product.price,product.id
        FROM
        t_pruchase_supplier_product AS product
        WHERE
        product.purchase_supplier_id=#{0}
        AND
        product.product_id=#{1}
    </select>
    <update id="updatePurchaseBillAudit" parameterType="com.jc.model.PurchaseBill">
        UPDATE t_purchase_bill
        SET
        creator=#{creator},modify_date=#{modifyDate},state=#{state},purchase_id=#{purchaseId},put_in_date=#{putInDate},
        emergent=#{emergent},is_bill=#{isBill},sum_money=#{sumMoney},expect_date=#{expectDate}
        where
        t_purchase_bill.id=#{id}
    </update>
    <update id="updatePurchaseBillDetailAudit" parameterType="com.jc.model.PurchaseBillDetail">
        UPDATE t_purchase_bill_detail
        SET
        number=#{number},price=#{price},sum_money=#{sumMoney},supplier_id=#{supplierId}
        where
        bill_id=#{billId}
        and
        product_id=#{productId}
    </update>
</mapper>
