<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空：namespace的名称必须指向刚刚接口类 -->
<mapper namespace="com.jc.mapper.PurchaseSupplierMapper">

    <resultMap id="SupplierResultMap" type="com.jc.model.PurchaseSupplier">
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="creator" property="creator" jdbcType="INTEGER"></result>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"></result>
        <result column="modifier" property="modifier" jdbcType="INTEGER"></result>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"></result>
        <result column="state" property="state" jdbcType="TIMESTAMP"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="SysProductName" property="SysProductName" jdbcType="VARCHAR"></result>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"></result>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"></result>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <association property="sysResource" javaType="com.jc.model.SysResource">
            <id column="sid" property="id"></id>
            <result column="displayName" property="displayName"></result>
        </association>
        <collection property="sysPurchaseProductList" ofType="com.jc.model.SysPurchaseProduct">
            <id column="pid" property="id" jdbcType="INTEGER"></id>
            <result column="SysProductName" property="name" jdbcType="VARCHAR"></result>
        </collection>
    </resultMap>
<!--    员工查询自己的信息-->
    <select id="listSupplier" resultMap="SupplierResultMap">
        SELECT
        purchase.id, purchase.creator, purchase.create_date, purchase.name name,
        purchase.modifier,purchase.modify_date,syspro.id pid,syspro.name SysProductName,
        res.id sid, res.display_name state,purchase.company_name,
        purchase.contact_name,purchase.contact_phone,
        purchase.address
        FROM
        t_purchase_supplier AS purchase
        left join
        t_pruchase_supplier_product AS product
        ON
        purchase.id=product.purchase_supplier_id
        LEFT JOIN
        t_sys_purchase_product AS syspro
        ON
        syspro.id=product.product_id
        LEFT JOIN
        t_sys_resource as res
        ON
        purchase.state=res.id
        LEFT JOIN
        t_sys_login_user AS login
        ON
        login.user_id=purchase.creator
        where
        purchase.creator=#{id}
        <if test="name!=null and name!=''">
        and purchase.name like concat('%',#{name},'%')
        </if>
        <if test="SysProductName!=null and SysProductName!=''">
            and syspro.name like concat('%',#{SysProductName},'%')
        </if>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>
<!--    获取菜单大小-->
    <select id="countGetAll" resultType="Integer" parameterType="map">
        select count(0) from t_purchase_supplier
    </select>

<!--    主管查看全部信息-->
    <select id="listSupplierUser" resultMap="SupplierResultMap">
        SELECT
        purchase.id, purchase.creator, purchase.create_date, purchase.name name,
        purchase.modifier,purchase.modify_date,syspro.id pid,syspro.name SysProductName,
        res.id sid, res.display_name state,purchase.company_name,
        purchase.contact_name,purchase.contact_phone,
        purchase.address
        FROM
        t_purchase_supplier AS purchase
        left join
        t_pruchase_supplier_product AS product
        ON
        purchase.id=product.purchase_supplier_id
        LEFT JOIN
        t_sys_purchase_product AS syspro
        ON
        syspro.id=product.product_id
        LEFT JOIN
        t_sys_resource as res
        ON
        purchase.state=res.id
        LEFT JOIN
        t_sys_login_user AS login
        ON
        login.user_id=purchase.creator
        <where >
        <if test="name!=null and name!=''">
            and purchase.name like concat('%',#{name},'%')
        </if>
        <if test="SysProductName!=null and SysProductName!=''">
            and syspro.name like concat('%',#{SysProductName},'%')
        </if>
        </where>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

<!--    添加供应商-->
    <insert id="insertSupplier" parameterType="com.jc.model.PurchaseSupplier">
        insert into t_purchase_supplier
        (creator,create_date,modifier,modify_date,state,name,company_name,contact_name,contact_phone,address)
        values
        (#{creator},#{createDate},#{modifier},#{modifyDate},#{state},#{name},#{companyName},#{contactName},#{contactPhone},#{address})

        <selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
<!--    添加供应商产品表-->
    <insert id="insertProduct" parameterType="com.jc.model.SupplierProduct">
        insert into t_pruchase_supplier_product
        (purchase_supplier_id,product_id,max_number,price)
        values
        (#{purchaseSupplierId},#{productId},#{maxNumber},#{price})
    </insert>
<!--    添加采购商品表-->
    <insert id="insertSysProduct" parameterType="com.jc.model.SysPurchaseProduct">
        insert into t_sys_purchase_product
        (creator,create_date,modifier,modify_date,state,name,kind,model_type,standard,description)
        values
        (#{creator},#{createDate},#{modifier},#{modifyDate},#{state},#{name},#{kind},#{modelType},#{standard},#{description})

        <selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!--    查询全部商品名-->
    <select id="listSysPurchaseProduct" parameterType="com.jc.model.SysPurchaseProduct" resultType="com.jc.model.SysPurchaseProduct">
        select
        product.id,product.name,product.model_type as modelType
        from t_sys_purchase_product as product
    </select>
<!--    删除-->
    <delete id="deleteSupplier" parameterType="Integer">
        delete from t_purchase_supplier
        where t_purchase_supplier.id=#{id}
    </delete>
<!--    删除供应商产品表-->
    <delete id="deletePruchase" parameterType="Integer">
        delete from t_pruchase_supplier_product
        where t_pruchase_supplier_product.purchase_supplier_id=#{0}
    </delete>
    <delete id="deletePrudchaseSupplierProduct" parameterType="Integer">
        delete from t_pruchase_supplier_product
        where t_pruchase_supplier_product.id=#{0}
    </delete>


    <resultMap id="PurchaseResultMap" type="com.jc.model.PurchaseSupplier">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"></result>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"></result>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <collection property="supplierProductList" ofType="com.jc.model.SupplierProduct">
            <id column="pid" property="id" jdbcType="INTEGER"></id>
            <result column="productId" property="productId" jdbcType="INTEGER"></result>
            <result column="purchaseSupplierId" property="purchaseSupplierId" jdbcType="INTEGER"></result>
            <result column="productName" property="productName" jdbcType="VARCHAR"></result>
            <result column="max_number" property="maxNumber"></result>
            <result column="price" property="price"></result>
        </collection>
    </resultMap>
<!--    根据id获取指定供应商信息-->
    <select id="loadPurchaseSupplier" parameterType="Integer" resultMap="PurchaseResultMap">

        select
        sup.id,sup.name,sup.company_name,sup.contact_name,sup.contact_phone,sup.address,
        pru.id pid,
        syspro.id productId,sup.id purchaseSupplierId,syspro.name productName,
        pru.max_number,pru.price
        FROM
        t_purchase_supplier as sup
        LEFT JOIN
        t_pruchase_supplier_product as pru
        ON
        sup.id=pru.purchase_supplier_id
        LEFT JOIN
        t_sys_purchase_product as syspro
        ON
        syspro.id=pru.product_id
        WHERE
        sup.id=#{id}
    </select>
<!--    修改指定供应商信息-->
    <update id="updateSupplier" parameterType="com.jc.model.PurchaseSupplier">
        update t_purchase_supplier
        set creator=#{creator},modifier=#{modifier},modify_date=#{modifyDate},
        state=#{state},company_name=#{companyName},contact_name=#{contactName},
        contact_phone=#{contactPhone},address=#{address}
        where id=#{id}
    </update>
<!--    修改供应商产品表-->
    <update id="updateProduct" parameterType="com.jc.model.SupplierProduct">
        update t_pruchase_supplier_product
        set purchase_supplier_id=#{purchaseSupplierId},product_id=#{productId},max_number=#{maxNumber},price=#{price}
        where t_pruchase_supplier_product.id=#{id}
    </update>

    <resultMap id="ProductResultMap" type="com.jc.model.SupplierProduct">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="purchase_supplier_id" property="purchaseSupplierId" jdbcType="INTEGER"></result>
        <result column="productName" property="productName" jdbcType="VARCHAR"></result>
    </resultMap>
<!--    查看商品-->
    <select id="loadProductSupplier" parameterType="Integer" resultMap="ProductResultMap">
        SELECT
        su.id purchaseSupplierId,syspro.name productName
        FROM
        t_purchase_supplier AS su
        LEFT JOIN
        t_pruchase_supplier_product AS product
        ON
        su.id=product.purchase_supplier_id
        LEFT JOIN
        t_sys_purchase_product AS syspro
        ON
        syspro.id=product.product_id
        where su.id=#{id}
    </select>
<!--    查询供应商商品表-->
    <resultMap id="SupplierProductResultMap" type="com.jc.model.SupplierProduct">
        <id column="pid" property="id"></id>
        <result column="purchase_supplier_id" property="purchaseSupplierId"></result>
        <result column="product_id" property="productId"></result>
        <result column="max_number" property="maxNumber"></result>
        <result column="price" property="price"></result>
    </resultMap>
    <select id="listProductSupplier" parameterType="Integer" resultMap="SupplierProductResultMap">
        SELECT
        product.id pid,product.purchase_supplier_id,product.product_id,product.max_number,product.price
        FROM
        t_purchase_supplier AS su
        LEFT JOIN
        t_pruchase_supplier_product AS product
        ON
        su.id=product.purchase_supplier_id
        where su.id=#{id}
    </select>

<!--    查询供应商商品表信息,修改操作调用-->
    <select id="listPruchaseSupplierProduct" parameterType="int" resultType="java.util.Map">
        select
        product.id,pro.id purchase_supplier_id,product.product_id,product.max_number,product.price
        from
        t_pruchase_supplier_product as product
        LEFT JOIN
        t_purchase_supplier as pro
        ON
        product.purchase_supplier_id=pro.id
        where
        pro.id=#{id}
    </select>
<!--查询全部采购商品表，Excel导入调用-->
    <select id="listSysProduct" parameterType="int" resultType="java.util.Map">
        select
        product.id,product.name
        from t_sys_purchase_product as product
    </select>
<!--    修改采购商品表，Excel导入调用-->
    <update id="updateSysProduct" parameterType="com.jc.model.SysPurchaseProduct">
        update t_sys_purchase_product
        set
        name=#{name}
        where t_sys_purchase_product.id=#{id}
    </update>

    <!--查询全部供应商表，Excel导入调用-->
    <select id="listExcelProduct" parameterType="int" resultType="java.util.Map">
        select
        supplier.id,supplier.company_name,supplier.contact_name
        from t_purchase_supplier as supplier
    </select>

</mapper>
