<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空：namespace的名称必须指向刚刚接口类 -->
<mapper namespace="com.jc.mapper.StaffSettingMapper">
    <resultMap id="SysUsers" type="com.jc.model.SysUsers">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="INTEGER"/>
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="INTEGER"/>
        <result column="modify_date" property="modify_date" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="job_id" property="job_id" jdbcType="INTEGER"/>
        <result column="depart_id" property="depart_id" jdbcType="INTEGER"/>
        <result column="depart_role_id" property="depart_role_id" jdbcType="INTEGER"/>
        <result column="max_threshold" property="max_threshold" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listSaleAll" parameterType="SysUsers" resultType="SysUsers">
        SELECT
        users.id,
        users.creator,
        users.create_date,
        users.modifier,
        users.modify_date,
        users.state,
        users.name,
        sex,
        age,
        phone,
        role.name as depart_role_id,
        depar.name as depart_id,
        max_threshold
        FROM
        t_sys_users AS users
        LEFT JOIN
        t_sys_user_role AS user_role
        ON users.id = user_role.user_id
        LEFT JOIN
        t_sys_role as role
        on user_role.role_id = role.id
        LEFT JOIN
        t_sys_department as depar
        ON role.department_id = depar.id
        where users.depart_id = #{department_id}
        <if test="name !=null and name !=''">
            and users.name = #{name,jdbcType=VARCHAR}
        </if>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <select id="listAllUsers" parameterType="SysUsers" resultType="SysUsers">
        SELECT
        users.id,
        users.creator,
        users.create_date,
        users.modifier,
        users.modify_date,
        users.state,
        users.name,
        sex,
        age,
        phone,
        role.name as depart_role_id,
        depar.name as depart_id,
        max_threshold
        FROM
        t_sys_users AS users
        LEFT JOIN
        t_sys_user_role AS user_role
        ON users.id = user_role.user_id
        LEFT JOIN
        t_sys_role as role
        on user_role.role_id = role.id
        LEFT JOIN
        t_sys_department as depar
        ON role.department_id = depar.id
        where users.depart_id = #{department_id}
        <if test="name !=null and name !=''">
            and users.name = #{name,jdbcType=VARCHAR}
        </if>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <select id="listAll" parameterType="SysUsers" resultType="SysUsersExceptSale">
        SELECT
        users.id,
        users.creator,
        users.create_date,
        users.modifier,
        users.modify_date,
        users.state,
        users.name,
        sex,
        age,
        phone,
        role.name as depart_role_id,
        depar.name as depart_id
        FROM
        t_sys_users AS users
        LEFT JOIN
        t_sys_user_role AS user_role
        ON users.id = user_role.user_id
        LEFT JOIN
        t_sys_role as role
        on user_role.role_id = role.id
        LEFT JOIN
        t_sys_department as depar
        ON role.department_id = depar.id
        where users.depart_id = #{department_id}
        <if test="name !=null and name !=''">
            and users.name = #{uname,jdbcType=VARCHAR}
        </if>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <select id="countGetAll" parameterType="map" resultType="Integer">
         select count(1) from t_sys_users,t_sys_role where t_sys_users.depart_id = t_sys_role.department_id
    </select>

    <update id="updateMessage" parameterType="SysUsers">
        UPDATE t_sys_users SET modify_date=#{modify_date},`name`=#{name},sex=#{sex},age=#{age},phone=#{phone}
        WHERE  id=#{id}
    </update>

    <select id="loadByUserId" parameterType="java.lang.Integer" resultType="SysUsers">
        SELECT id,creator,create_date,modifier,modify_date,state,`name`,sex,age,phone,job_id,depart_id,depart_role_id,max_threshold FROM  t_sys_users WHERE id=#{0}
    </select>

    <update id="updateThreshold" parameterType="SysUsers">
        UPDATE t_sys_users SET  modify_date=#{modify_date},max_threshold=#{max_threshold}
        WHERE  id=#{id}
    </update>

    <select id="loadById" parameterType="java.lang.Integer" resultType="SysUsersBeans">
        SELECT
        t_sys_role.name,
        t_sys_role.department_id,
        t_sys_user_role.role_id,
        t_sys_department.name as depart_id
        FROM
        t_sys_users
        LEFT JOIN
        t_sys_user_role
        ON t_sys_users.depart_role_id = t_sys_user_role.role_id
        LEFT JOIN
        t_sys_role
        ON
        t_sys_user_role.role_id = t_sys_role.id
        LEFT JOIN
        t_sys_department
        ON
        t_sys_users.depart_id = t_sys_department.id
        WHERE
        t_sys_users.id=#{0}
    </select>

</mapper>
