<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空：namespace的名称必须指向刚刚接口类 -->
<mapper namespace="com.jc.mapper.StorePutInMapper">
    <resultMap id="ToDoList" type="com.jc.model.ToDoList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="INTEGER"/>
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="INTEGER"/>
        <result column="modify_date" property="modify_date" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="typename" property="typename" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询待审核-->
    <select id="listAll" parameterType="ToDoList" resultType="ToDoList">
    SELECT
        t.id,
        users. NAME AS creator,
        u. NAME AS put_in_user_id,
        t.create_date,
        us.name AS modifier,
        t.modify_date,
        t.state
        FROM
        t_store_put_in AS t
        LEFT JOIN t_sys_users AS users ON t.creator = users.id
        LEFT JOIN t_sys_users AS u ON t.put_in_user_id = u.id
        LEFT JOIN t_sys_users AS us on t.modifier = us.id
        WHERE
	t.state = 3
    </select>
    <!--入库单-->
    <select id="listStorePutIn" resultType="ToDoList">
        SELECT
        t.id,
        u. NAME AS user_id,
        product.name AS product_name,
        t.product_id,
        t.put_id_date as date,
        t.source_type,
        t.source_id,
        t.state
        FROM
        t_store_put_in AS t
        LEFT JOIN t_sys_users AS u ON t.put_in_user_id = u.id
        LEFT JOIN t_sys_purchase_product AS product ON product.id = t.product_id
        LEFT JOIN t_purchase_bill AS bill ON bill.id = t.source_id
        WHERE
        t.state = 3
        <if test="name !=null and name !=''">
            and u.name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime !='' and endTime != null and endTime !=''">
            AND put_id_date between #{startTime} and #{endTime}
        </if>
    </select>

    <!--出库单-->
    <select id="listStoreCheckout" resultType="ToDoList">
        SELECT
        t.id,
        u. NAME AS user_id,
        product.name AS product_name,
        t.product_id,
        t.checkout_date as date,
        t.state
        FROM
        t_store_checkout AS t
        LEFT JOIN t_sys_users AS u ON t.checkout_user_id = u.id
        LEFT JOIN t_sys_purchase_product AS product ON product.id = t.product_id
        WHERE
        t.state = 3
        <if test="name !=null and name !=''">
            and u.name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime !='' and endTime != null and endTime !=''">
            AND checkout_date between #{startTime} and #{endTime}
        </if>

    </select>

    <select id="countGetAll" parameterType="map" resultType="Integer">
         select count(1) from student
    </select>

    <select id="loadById" parameterType="java.lang.Integer" resultType="SysUsersBeans">
        SELECT
        t_sys_users.name as user_name,
        t_sys_role.name,
        t_sys_role.department_id,
        t_sys_user_role.role_id,
        t_sys_department.name as depart_id
        FROM
        t_sys_users
        LEFT JOIN
        t_sys_user_role
        ON t_sys_users.depart_role_id = t_sys_user_role.role_id
        LEFT JOIN
        t_sys_role
        ON
        t_sys_user_role.role_id = t_sys_role.id
        LEFT JOIN
        t_sys_department
        ON
        t_sys_users.depart_id = t_sys_department.id
        WHERE
        t_sys_users.id=#{0}
    </select>


    <select id="loadByPutId" parameterType="java.lang.Integer" resultType="StorePutIn">
        select id,product_id,put_in_number from t_store_put_in where id=#{0}
    </select>

    <select id="loadByProductId" parameterType="java.lang.Integer" resultType="Store">
        select id,product_id,`number` from t_store where product_id=#{0}
    </select>

<!--入库查询-->
    <select id="loadByPutInId" parameterType="java.lang.Integer" resultType="StorePutIn">
       	SELECT
        t.id,
        u. NAME AS user_id,
		product.name AS product_name,
        t.put_id_date as date,
		product.kind,
		t.product_id,
		product.standard,
		product.model_type,
        t.state,
		product.description,
		t.put_in_number
        FROM
        t_store_put_in AS t
        LEFT JOIN t_sys_users AS u ON t.put_in_user_id = u.id
		LEFT JOIN t_sys_purchase_product AS product ON product.id = t.product_id
		LEFT JOIN t_purchase_bill AS bill ON bill.id = t.source_id
        WHERE t.id=#{0}
    </select>

    <!--出库查询-->
    <select id="loadByCheckOutId" parameterType="java.lang.Integer" resultType="StoreCheckOut">
        SELECT
        t.id,
        u. NAME AS user_id,
		product.name AS product_name,
		t.product_id,
        t.checkout_date as date,
        t.state,
		t.number
        FROM
        t_store_checkout AS t
        LEFT JOIN t_sys_users AS u ON t.checkout_user_id = u.id
		LEFT JOIN t_sys_purchase_product AS product ON product.id = t.product_id
        WHERE t.id=#{0}
        </select>

    <!--入库审核通过-->
    <update id="updatePutInSuccess" parameterType="StorePutIn">
        UPDATE t_store_put_in SET state = 5
        WHERE  id=#{id}
    </update>
    <!--入库修改数量-->
    <select id="updateStore" parameterType="StorePutIn">
        {
            call pr_put_in(
                  #{product_id,mode=IN,jdbcType=VARCHAR},
                  #{put_in_number,mode=IN,jdbcType=INTEGER}
            )
        }
    </select>

    <select id="loadByCheckId" parameterType="java.lang.Integer" resultType="StoreCheckOut">
        select id,product_id,`number` from t_store_checkout where id=#{0}
    </select>
    <!--入库驳回-->
    <update id="updatePutInReject" parameterType="StorePutIn">
        UPDATE t_store_put_in SET state = 7
        WHERE  id=#{id}
    </update>
    <!--出库审核通过-->
    <update id="updateCheckOutSuccess" parameterType="StoreCheckOut">
        UPDATE t_store_checkout SET state = 5
        WHERE  id=#{id}
    </update>
    <!--出库修改数量-->
    <select id="updateStoreCheck" parameterType="StoreCheckOut">
        {
            call pr_check_out(
                  #{product_id,mode=IN,jdbcType=VARCHAR},
                  #{number,mode=IN,jdbcType=INTEGER}
            )
        }
    </select>

    <!--出库驳回-->
    <update id="updateCheckOutReject" parameterType="StoreCheckOut">
        UPDATE t_store_checkout SET state = 7
        WHERE  id=#{id}
    </update>
</mapper>
