<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空：namespace的名称必须指向刚刚接口类 -->
<mapper namespace="com.jc.mapper.TysProductTaskMapper">
    <resultMap id="ProduceTask" type="com.jc.model.ProduceTask">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="begin_date" property="begin_date" jdbcType="TIMESTAMP"/>
            <result column="end_date" property="end_date" jdbcType="TIMESTAMP"/>
            <result column="state" property="state" jdbcType="VARCHAR"/>
            <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <!--查询全部-->
    <select id="listProduceTask" resultMap="ProduceTask" parameterType="INTEGER">
        SELECT
        id,begin_date,end_date,description,state
        FROM t_produce_task
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <select id="countProduceTask" parameterType="map" resultType="Integer">
         select count(1) from t_produce_task
    </select>
<!--&lt;!&ndash;sql语句删除&ndash;&gt;-->
<!--    <delete id="removeTysProductBom" parameterType="INTEGER">-->
<!--        delete from t_produce_bom where id=#{0}-->
<!--    </delete>-->
<!--&lt;!&ndash;添加一条记录&ndash;&gt;-->
    <insert id="saveProduceTask" parameterType="com.jc.model.ProduceTask" useGeneratedKeys="true" keyProperty="id">
        insert into t_produce_task (creator,create_date,modifier,modify_date,state,begin_date,end_date,description)
         values (#{creator},#{create_date},#{modifier},#{modify_date},#{state},#{begin_date},#{end_date},#{description})
    </insert>
<!--&lt;!&ndash;查询一条记录    &ndash;&gt;-->
    <select id="loadProduceTask" parameterType="INTEGER" resultType="com.jc.model.ProduceTask">
        select id,begin_date,end_date,state,description from t_produce_task
        where id=#{id}
    </select>
    <delete id="removeProduceTask" parameterType="INTEGER">
        delete from t_produce_task where id=#{id}
    </delete>
<!--&lt;!&ndash;修改一条记录    &ndash;&gt;-->
    <update id="updateProduceTask" parameterType="com.jc.model.ProduceTask">
        update t_produce_task set modify_date=#{modify_date},
       modifier=#{modifier},state=#{state},begin_date=#{begin_date},end_date=#{end_date},description=#{description} where
       id=#{id,jdbcType=INTEGER}
    </update>
    <update id="updateProduceTaskAuditing" parameterType="integer">
         update t_produce_task set state='已审核' where id = #{id}
    </update>
    <update id="UpdateProductTaskReject" parameterType="integer">
         update t_produce_task set state='驳回' where id = #{id}
    </update>
<!--    <insert id="addBatchMembers"  parameterType="java.util.List">-->

<!--        INSERT INTO t_sys_purchase_product (-->
<!--        <trim suffix="" suffixOverrides=",">-->
<!--            creator,create_date,modifier,modify_date,state,name,kind,model_type,standard,description-->
<!--        </trim>-->
<!--        ) VALUES-->
<!--        <foreach collection="list" item="item" index="index" separator=",">-->
<!--            (-->
<!--            #{item.creator} ,-->
<!--            #{item.create_date} ,-->
<!--            #{item.modifier} ,-->
<!--            #{item.modify_date} ,-->
<!--            #{item.state},-->
<!--            #{item.name},-->
<!--            #{item.kind},-->
<!--            #{item.model_type},-->
<!--            #{item.standard},-->
<!--            #{item.description},-->
<!--            )-->
<!--        </foreach>-->
<!--    </insert>-->

</mapper>
