<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空：namespace的名称必须指向刚刚接口类 -->
<mapper namespace="com.jc.mapper.YzjSysLoginUserTestMapper">

    <!--根据id查询-->
    <select id="loadLoginUserById" parameterType="java.lang.Integer" resultType="SysLoginUser">
        SELECT account_name,creator,modifier FROM  t_sys_login_user WHERE id=#{0}
    </select>

</mapper>
